{% extends 'base.html.twig' %}
{% block title 'à propos de nous' %}

{% block body %}
    <link rel="stylesheet" type="text/css" href="aboutus.css">
    <div class="container">
        <h1 class="display-3"><strong>Mais au fait, c’est qui ce grognon ? </strong></h1>
        <br>
        <p>Il y a au départ un Méga Grognon passionné par les beaux produits, c’est grâce à lui qu’on a une
            telle collection d’alcool en tout genre ! Ce monsieur, un vrai de vrai, est dans le métier depuis ses plus
            jeunes années ! au alentours de 2010 celui-ci vit à Neudorf et se rend compte qu’il y manque ce lieu de
            rencontre pour les bon vivant, un QG je m’ose à dire… et Bim le 13 novembre 2013 naquit le Café Grognon !
            Ce qu’il nous a transmit :
            Le dynamisme et la curiosité.
            « Moi quand j’ai commencé le samedi nuit après le service on partais pour Paris , pour un salon de la bière,
            le dimanche nuit après le salon, le restau’ et la chouille on refaisait la route et le lundi midi on était
            en service. »
            Le fait de se sentir légitime, écouté dans notre métier.
            « Tu ne te fais pas chier toutes les nuits à bosser pour te faire pisser à la raie ! »
            Oh yeah
        </p>
        <br>
        <p>Ce grognon à trouver une Super grognonne pour l’accompagner dans l’aventure ! s’il est le fond, elle est la
            forme !
            La bienveillance. Les explications de bières à rallonge. Toujours tenter de trouver des places même quand le
            bar est plein. L’envie de faire plaisir au gens, de les rendre heureux.
            Quand vous arrivez à Grognon c’est grâce à cette Grognonne, la première que l’on se fait un devoir et un
            plaisir de vous dire un grand bonjour avec un gros sourire =)
            « T’as pensé à mettre les sous bock et les bretzels ? »
        </p>
    </div>
    <div class="container">
        <h2>   Une équipe formée à force de gouter !</h2>
        <p>Nous avons également nos « classe verte ». Chaque année est rythmée par différentes sorties organisé par notre
            Méga Grognon de patron !</p>
        <p>Whisky Live 2013 : Première fois de l’équipe Grognon à Paris !
            C’est une tradition qui perdure depuis les plus anciens d’entre nous ont donc 5 whisky live derrière eux !
            Chaque année cela nous permet de repérer les tendances à venir, gouter de nouveaux produits, et affiner nos
            connaissances sur les produits que l’on a déjà.
        </p>
        <p>Vini Bini Ribelli 2016, 2017 + BXL BeerFest 2017: Salon des Bières et des vins Rebelle à Bruxelles ! Craft beer
            et vins nature du monde entier. Tout un programme ! Heureusement quand on est saoul de bière on passe à la dégustation
            de vin pour dessaouler (la logique de l’équipe à Bruxelles…)
            <br>On en profite pour rencontrer les brasseurs et négocier les belles exclus qu’on vous propose ;)
            BXL 2017 :
        </p>
        <div class="youtube">
            <iframe width="642" height="361" src="https://www.youtube.com/embed/8OILN0Uk07g" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p>Salon des vignerons indépendants, là aussi depuis 2013 soit on s’y retrouve tous soient on s’y croise dans tous les cas on y boit !
                <br>2018 Formation Fromage Dispensé par Monsieur Tourette lui-même ! </p>
        </div>
    </div>
{% endblock body %}