{% extends 'base.html.twig' %}
{% block title 'Nos produits' %}
{% block body %}
    <h1>ma page produits</h1>
    <div class="container  mt-4">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Titres</th>
            <th>Descriptions</th>
            <th>Catégories</th>

        </thead>
        <tbody>
            {% for product in products %}
                <tr>
                    <td>{{ product.title }}</td>
                    <td>{{ product.description }}</td>
                    <td>{{ product.category.name }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>

{% endblock%}